<hr />
  <footer>
    <p><a href="http://www.weibo.com/u/2150756497/home?wvr=5" target="_blank">新浪微博</a> 2014</p>
  </footer>
  </div>

  </body>
  <script src="/javascripts/jquery.js"></script>
  <script src="/javascripts/bootstrap.js"></script>
</html>